.subscribe {
    min-height: 50vh;
    &-box { 
        h2 {
            color: white;
        }
        // background-color: #292727;
        background-color: #14056d;
        min-height: 40vh;
        border-radius: 20px;
        color: white;
        border: 1px solid rgb(73, 70, 70); 

        .subscribe-email {
            padding: 8px;
            background-color: #eee;
            border-radius: 5px;
            &-input {
                min-width: 65%;
                padding: 10px;
                border: none;
                outline: none;
                background-color: #eee;
            }
            &-btn {
                padding: 10px 15px;
                border-radius: 5px;
                outline: none;
                border: none;
                background-color: #14056d;
                margin-left: auto;
                color: white;
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 576px) {
    .subscribe {
        min-height: 20vh;
        &-box { 
            min-height: 20vh;
            border-radius: 15px;
        }
    }
}