.trial {
   
    min-height: 70vh;
    color: #fff;
    // background-color : #14056d;
    &-box {
    //    background-color : #212529;
    // background-color: rgb(107, 101, 167);
    // background-color: #171242;
        backdrop-filter: blur(17px) saturate(37%);
        -webkit-backdrop-filter: blur(17px) saturate(37%);
        background-color: rgba(23, 18, 66, 0.72);
       border-radius: 30px; 
       border: 1px solid rgba(255, 255, 255, 0.125);
    //    box-shadow: -5px 25px 30px 40px rgb(107 101 167 / 7%)
    }
    &-email {
        padding: 8px;
        background-color:  rgb(199, 207, 219);
        border-radius: 5px;
        &-input {
            // min-width: 65%;
            padding: 10px;
            border: none;
            outline: none;
            background-color:  rgb(199, 207, 219);  
            font-size: 13px;
        }
        &-btn {
            padding: 10px 15px;
            border-radius: 5px;
            outline: none;
            border: none;
            background-color: #05051f;
            // background-color: #212529;
            margin-left: auto;
            color: white;
            font-size: 14px;
        }
    }
}