@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.cdnfonts.com/css/harabara");
@import url("https://fonts.cdnfonts.com/css/invisible-2");
footer .copyright {
  text-align: right;
}
footer .copyright p {
  font-size: 13px;
}

.subscribe {
  min-height: 50vh;
}
.subscribe-box {
  background-color: #000;
  min-height: 40vh;
  border-radius: 20px;
  color: white;
  border: 1px solid rgb(73, 70, 70);
}
.subscribe-box h2 {
  color: white;
}
.subscribe-box .subscribe-email {
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}
.subscribe-box .subscribe-email-input {
  min-width: 65%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
}
.subscribe-box .subscribe-email-btn {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #000;
  margin-left: auto;
  color: white;
  font-size: 14px;
}

@media (max-width: 576px) {
  .subscribe {
    min-height: 20vh;
  }
  .subscribe-box {
    min-height: 20vh;
    border-radius: 15px;
  }
}
header {
  min-height: 100vh;
  padding-top: 5rem;
  overflow-x: hidden;
}
header h1 {
  font-size: 4.2rem;
  background: -webkit-linear-gradient(45deg, #9ce0fd, #fd9cc5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 576.01px) and (max-width: 768px) {
  header {
    min-height: 130vh;
    padding-top: 3rem;
  }
  header h1 {
    font-size: 4.2rem;
  }
}
@media (max-width: 576px) {
  header {
    min-height: 80vh;
    padding-top: 3rem;
  }
  header h1 {
    font-size: 4.2rem;
  }
}
.trial {
  min-height: 70vh;
  color: #fff;
}
.trial-box {
  backdrop-filter: blur(17px) saturate(37%);
  -webkit-backdrop-filter: blur(17px) saturate(37%);
  background-color: rgba(23, 18, 66, 0.72);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.trial-email {
  padding: 8px;
  background-color: #fff;
  border-radius: 5px;
}
.trial-email-input {
  min-width: 65%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 13px;
}
.trial-email-btn {
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #05051f;
  margin-left: auto;
  color: white;
  font-size: 14px;
}

.features-box {
  padding: 24px 32px 32px;
  backdrop-filter: blur(17px) saturate(37%);
  -webkit-backdrop-filter: blur(17px) saturate(37%);
  background-color: rgba(23, 18, 66, 0.72);
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.3s ease-in;
}
.features-box h3 {
  font-size: 64px;
  line-height: 1.2;
  font-weight: bold;
  color: rgb(129, 147, 178);
  margin-bottom: 32px;
}
.features-box h5 {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: -0.03em;
  font-weight: bold;
}
.features-box p {
  font-size: 16px;
}
.features-box:hover {
  margin-top: -20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  background-color: #0b071f;
  color: white;
}

ul, li {
  list-style-type: none;
}

h1, h2, h3 {
  font-family: "Invisible", sans-serif;
  color: #9ce0fd;
}

.small-heading {
  color: #be9cfd;
}

.headerImg1 {
  position: absolute;
  box-shadow: 4px 4px rgb(148, 142, 142);
  transform: rotate(-15deg);
}

.headerImg2 {
  position: absolute;
  box-shadow: 4px 4px rgb(148, 142, 142);
  right: 20px;
  transform: rotate(15deg);
  z-index: 10;
}

.btn-black {
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #fff;
  color: #00000a;
  text-decoration: none;
  outline: none;
  border: none;
  font-weight: bold;
}

.sub-title {
  font-size: 40px;
  letter-spacing: -0.03rem;
  line-height: 48px;
}

p {
  line-height: 32px;
}/*# sourceMappingURL=style.css.map */